<div class="container">
    <div class="row">
        <form [formGroup]="signUpFormGroup" *ngIf="!successUserSignUp">
            <div class="col-md-6">
                <div>
                    <mat-form-field>
                        <input matInput type="email" placeholder="Email" formControlName="email" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" formControlName="password" />
                    </mat-form-field>
                </div>
                <div>
                    <button type="button" [disabled]="!signUpFormGroup.valid" mat-raised-button (click)="signUp()">SignUp</button>
                </div>
            </div>
        </form>
        <div *ngIf="successUserSignUp">
            <form [formGroup]="otpConfirmationForm">
                <mat-form-field>
                    <input type="text" matInput placeholder="OTP" formControlName="otp" />
                </mat-form-field>
                <button mat-raised-button type="button" (click)="confirmUser()">Confirm OTP</button>
            </form>
        </div>
    </div>
</div>
